<div class="container vh-100 d-flex align-items-center justify-content-center">
  <div class="card p-4 shadow" style="max-width: 400px; w-100;">
    
    <div class="text-center mb-4">
      <h3 class="text-success fw-bold">Boas-vindas</h3>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      
      <div class="mb-3">
        <label class="form-label">Usuário</label>
        <input type="text" formControlName="username" class="form-control" placeholder="Ex: admin">
      </div>

      <div class="mb-3">
        <label class="form-label">Senha</label>
        <input type="password" formControlName="password" class="form-control" placeholder="••••••">
      </div>

      @if (errorMessage) {
        <div class="alert alert-danger py-2 small">{{ errorMessage }}</div>
      }

      <button type="submit" class="btn btn-secondary w-100" [disabled]="loginForm.invalid">
        Entrar
      </button>
    </form>

  </div>
</div>
